
<div class="flex flex-col">
  <div>
    <span class="font-bold text-lg text-orange-500">Total Number of Seats Invited: <span class="font-bolder text-2xl text-orange-600"><%= @total_seats_invited %></span></span>
  </div>

  <div>
    <span class="font-bold text-lg text-orange-500">Total Number of Seats Attending: <span class="font-bolder text-2xl text-orange-600"><%= @total_seats_attending %></span></span>
  </div>
</div>