<%= turbo_stream.replace 'response' do %>
  <% if @guest.attending? %>
    <h3 class="text-2xl font-bold text-green-600">Great! We can't wait to see you!</h3>
  <% else %>
    <p class="mt-10 text-center text-xs text-orange-900 merriweather">We're sad to know that you wont make it.</p>
  <% end %>
<% end %>