@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gistesy';
    font-weight: 400;
    src: url('/fonts/Gistesy.ttf') format("truetype");
  }

  @font-face {
    font-family: 'Andrea Bellarosa';
    font-weight: 700;
    src: url('/fonts/Bellarosa.ttf') format("truetype");
  }

  @font-face {
    font-family: "Minion Condensed";
    font-weight: 400;
    src: url('/fonts/MinionCondensed.otf') format("opentype");
  }
}
