<div class="ronnie-nins-checkbox <%= status %>" data-decision="<%= target %>" data-target="guest-invitation.<%= target %>" data-action="click->guest-invitation#handleAction">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.91 157.91">
    <defs><style>.cls-1{fill:#1e6432;}.cls-2{fill:#769269;}</style></defs>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <rect class="inner-fill" x="5.5" y="5.5" width="146.91" height="146.91" rx="12"/>
        <path class="cls-2" d="M140.41,157.91H17.5A17.52,17.52,0,0,1,0,140.41V17.5A17.52,17.52,0,0,1,17.5,0H140.41a17.52,17.52,0,0,1,17.5,17.5V140.41A17.52,17.52,0,0,1,140.41,157.91ZM17.5,11A6.51,6.51,0,0,0,11,17.5V140.41a6.51,6.51,0,0,0,6.5,6.5H140.41a6.51,6.51,0,0,0,6.5-6.5V17.5a6.51,6.51,0,0,0-6.5-6.5Z"/>
      </g>
    </g>
  </svg>
</div>